#
# Copy and rename this file to .env at root of this project.
#

# A common use case is to supply database creds via the environment. Edit settings.php
# like so:
#
# $databases['default']['default'] = [
#   'database' => getenv('MYSQL_DATABASE'),
#   'driver' => 'mysql',
#   'host' => getenv('MYSQL_HOSTNAME'),
#   'namespace' => 'Drupal\\Core\\Database\\Driver\\mysql',
#   'password' => getenv('MYSQL_PASSWORD'),
#   'port' => getenv('MYSQL_PORT'),
#   'prefix' => '',
#   'username' => getenv('MYSQL_USER'),
# ];
#
# Uncomment and populate as needed.
# MYSQL_DATABASE=
# MYSQL_HOSTNAME=
# MYSQL_PASSWORD=
# MYSQL_PORT=
# MYSQL_USER=
#
# For Redis config
# REDIS=ON
# REDIS_HOST=cache
# REDIS_PORT=6379

# Another common use case is to set Drush's --uri via environment.
# DRUSH_OPTIONS_URI=http://example.com

# Hash Salt
# HASH_SALT=6vrktd1oOlgxR1R6xq-ymt2AblaR1xNKQAaa-D7qJ5H3khwPVaSHoMQNJyX6ejeUw_0ToDzCKQ

